In [1]:
import const
import pandas as pd

In [2]:
SQUAD_DS_TRAINING_PATH = const.DATASETS_FOLDER + "squad-train-v2.0.csv"
ULTRACHAT_DS_PATH = const.DATASETS_FOLDER + "ultrachat_50k.csv"
REDDIT_DS_PATH = const.DATASETS_FOLDER + "reddit_ds.csv"

In [3]:
SQUAD_DS_TESTING_PATH = const.DATASETS_FOLDER + "squad-test-v2.0.csv"

In [4]:
squad_train_ds = pd.read_csv(SQUAD_DS_TRAINING_PATH)
squad_test_ds = pd.read_csv(SQUAD_DS_TESTING_PATH)
ultrachat_ds = pd.read_csv(ULTRACHAT_DS_PATH)
reddit_ds = pd.read_csv(REDDIT_DS_PATH)

In [5]:
squad_train_ds.columns

Index(['Unnamed: 0', 'source', 'topic', 'paragraph', 'question', 'question_id',
       'is_impossible', 'answers', 'expanded_answers'],
      dtype='object')

In [6]:
squad_train_ds['is_searchable'] = 1.0
squad_test_ds['is_searchable'] = 1.0

In [7]:
ultrachat_ds.columns

Index(['Unnamed: 0.3', 'Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0',
       'question', 'data', 'is_searchable'],
      dtype='object')

In [8]:
split_ratio = 0.7
split_ind = int(len(ultrachat_ds) * split_ratio)
ultrachat_train_ds = ultrachat_ds[0:split_ind]
ultrachat_test_ds = ultrachat_ds[split_ind:]

In [9]:
training_qi_ds = pd.concat([squad_train_ds, ultrachat_train_ds], ignore_index=True)

In [10]:
reddit_ds['question'] = reddit_ds['0']
reddit_ds['is_searchable'] = 0.0
reddit_ds = reddit_ds[['question', 'is_searchable']]

In [11]:
split_ratio = 0.7
split_ind = int(len(reddit_ds) * split_ratio)
reddit_train_ds = reddit_ds[0:split_ind]
reddit_test_ds = reddit_ds[split_ind:]

In [12]:
training_qi_ds = pd.concat([training_qi_ds, reddit_train_ds], ignore_index=True)

In [13]:
training_qi_ds.head()

,Unnamed: 0,source,topic,paragraph,question,question_id,is_impossible,answers,expanded_answers,is_searchable,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,data
0,0.0,Squad 2.0,Beyoncé,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce start becoming popular?,56be85543aeaaa14008c9063,False,in the late 1990s,in the late 1990s as lead singer of R&B girl-g...,1.0,NaN,NaN,NaN,NaN
1,1.0,Squad 2.0,Beyoncé,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,What areas did Beyonce compete in when she was...,56be85543aeaaa14008c9065,False,singing and dancing,in the late 1990s as lead singer of R&B girl-g...,1.0,NaN,NaN,NaN,NaN
2,2.0,Squad 2.0,Beyoncé,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,When did Beyonce leave Destiny's Child and bec...,56be85543aeaaa14008c9066,False,2003,in the late 1990s as lead singer of R&B girl-g...,1.0,NaN,NaN,NaN,NaN
3,3.0,Squad 2.0,Beyoncé,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In what city and state did Beyonce grow up?,56bf6b0f3aeaaa14008c9601,False,"Houston, Texas",in the late 1990s as lead singer of R&B girl-g...,1.0,NaN,NaN,NaN,NaN
4,4.0,Squad 2.0,Beyoncé,Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ b...,In which decade did Beyonce become famous?,56bf6b0f3aeaaa14008c9602,False,late 1990s,in the late 1990s as lead singer of R&B girl-g...,1.0,NaN,NaN,NaN,NaN

In [14]:
training_qi_ds.tail()

,Unnamed: 0,source,topic,paragraph,question,question_id,is_impossible,answers,expanded_answers,is_searchable,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,data
204721,NaN,NaN,NaN,NaN,115,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
204722,NaN,NaN,NaN,NaN,I’ve created a list of more than 200 interesti...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
204723,NaN,NaN,NaN,NaN,64\n,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
204724,NaN,NaN,NaN,NaN,What was the hardest decision you've ever made?,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
204725,NaN,NaN,NaN,NaN,Whether or not to report my mom to the police,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [15]:
reddit_train_ds.tail()

                                                question  is_searchable
39402                                                115            0.0
39403  I’ve created a list of more than 200 interesti...            0.0
39404                                               64\n            0.0
39405    What was the hardest decision you've ever made?            0.0
39406      Whether or not to report my mom to the police            0.0

In [16]:
testing_qi_ds = (pd.concat([squad_test_ds, ultrachat_test_ds, reddit_test_ds],
   ignore_index=True))

In [17]:
testing_qi_ds.tail()

,Unnamed: 0,source,topic,paragraph,question,question_id,is_impossible,answers,expanded_answers,is_searchable,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,data
58117,NaN,NaN,NaN,NaN,I just won a $570 PlayStation 4 Pro at Timezone!,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
58118,NaN,NaN,NaN,NaN,Are you from Singapore?Because I recognised th...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
58119,NaN,NaN,NaN,NaN,It's also in the Philippines! But our prizes a...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
58120,NaN,NaN,NaN,NaN,Also in Australia!,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
58121,NaN,NaN,NaN,NaN,Are you from Singapore?Because I recognised th...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [18]:
training_qi_ds.to_csv(const.DATASETS_FOLDER + "QI_training.csv")
testing_qi_ds.to_csv(const.DATASETS_FOLDER + "QI_testing.csv")